.base{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.top {
    background-image: linear-gradient(to right, rgb(194, 223, 239) 0%, rgb(185, 224, 246) 51%, rgb(131, 204, 246) 100%);
}
.top div {
    display: inline-block;
}
.top-p-left {
    margin-left: 1%;
}
.top-p-right {
    float: right;
    margin-right: 1%;
}
.bottom {
    background-image: linear-gradient(to right, rgb(131, 204, 246) 0%, rgb(185, 224, 246) 51%, rgb(194, 223, 239) 100%);
    margin-bottom: 0%;
}
.center {
    /* background-color: rgb(145, 118, 243); */
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.message{
    /* background-color: rgb(243, 181, 118); */
    text-align: center;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}
.players{
    
}
.questionnaire div{
    display: inline-block;
    text-align: center;
}
.questionnaire input[type=text]{
    padding: 10px;
}
.player1 {
    background-color: rgb(194, 223, 239); /* Цвет фона слоя */
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 48%; /* Ширина слоя */
}
.player2 {
    background-color: rgb(131, 204, 246); /* Цвет фона слоя */
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    float: right;
    width: 48%; /* Ширина слоя */
}
.message a{
    text-align: center;
    display: block;
}
.gradient-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    width: auto;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9eefe1 0%, #4830f0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
  }
  .gradient-button:hover {
    background-position: right center;
  }